<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" title="more options">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Ruster Shop", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Orders", "Index", "Order")</li>
                    <li>
                        <a href="/Cart/Index">
                            Cart<p class="btn btn-info" style="color:snow; padding:0; margin:0 0 0 5px">@Session["CartCount"]</p>
                        </a>
                    </li>
                </ul>
            </div>
            <div>

            </div>
        </div>
    </div>
    <div class="container body-content">
        <div class="main-content">
            <div style="margin:50px 0 auto 0">
                @RenderBody()
            </div>
            <footer style="margin:0">
                <hr />
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

<style>
    body {
        padding: 0;
    }

    .main-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100vh;
    }
</style>